.Home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .button.secondary-fill {
        margin-left: 0;
    }

    .home-img {
        display: flex;
        justify-content: flex-end;
        vertical-align: bottom;
        width: 50%;
        height: 100%;
    }
    .home-txt {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .home-first, .home-second {
        display: flex;
        width: 100%;
        height: 100%;
    }
}