.Home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .button.secondary-fill {
        margin-left: 0;
    }

    .home-img,
    .home-txt {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-img {
        justify-content: flex-end;
    }

    .home-first,
    .home-second {
        display: flex;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 880px) {
    .Home {
        .home-first {
            flex-direction: column;

            .home-img,
            .home-txt {
                width: 100%;
                justify-content: center;
            }

            .home-txt .txt {
                width: 80%;
                margin: auto;
                text-align: center;
            }
        }
    }

    .button.secondary-fill {
        margin-left: 2vh !important;
    }
}