@import './variables.scss';

body {
  background-color: #FFFFFF;
}

@each $value,
$color,
$filter in $colors {
  html.color-#{$value} {

    img.background-image {
      filter: $filter;
      -webkit-filter: $filter;
      transition: filter 0.3s ease-out;
      -webkit-transition: filter 0.3s ease-out;
    }

    .button-edge {
      background: darken($color, 100%);
    }

    .button-pushable {
      &.primary .button-front {
        background: $color;
      }

      &.secondary .button-front {
        color: $color;
        background: white;
        border: solid 1px rgba(196, 196, 196, 0.158);
      }

    }

    .button-front {
      will-change: transform;
      transform: translateY(-4px);
      transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgba(white, 0.8);
    }

    ::-webkit-scrollbar {
      background-color: $color;
    }

    .Puppet {
      .loader {
        background: linear-gradient(45deg, black, $color);
        background-size: 400% 400%;
        animation: rotate 3s linear infinite;
      }

    }

    .Panel {
      background-color: $color;
      transition: backdrop-filter 0.3s ease-out;
      box-shadow: 1px 2px 9px rgba($color, 0.8);

      .panel-catg {
        .panel-middle-s {
          .active {
            background-color: $color;
          }
        }
      }

      .panel-assets {

        .list-assets,
        .skin-assets {
          .div-assets {
            &.active {
              box-shadow: 0 0 5px 2px rgba($color, 0.8);
            }
          }
        }
      }
    }
  }

  .Panel .panel-catg .panel-middle-s .catg-item.color-#{$value} {
    background-color: $color;
  }

}

@keyframes rotate {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}