@import './color.scss';

* {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
	margin: 0;
	width: 100vw;
}

img.background-image {
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: auto;
}

.flex {
	display: flex;
	justify-content: center;
}

.invisible {
	opacity: 0;
}

.visible {
	opacity: 1;
}

::-webkit-scrollbar {
	background-color: transparent;
	width: 8px;
	border-radius: 24px;
}

::-webkit-scrollbar-thumb {
	border-bottom: none;
}

::-webkit-scrollbar-track {
	border-radius: 24px;
}

::-webkit-scrollbar-thumb {
	border-radius: 24px;
}

/*********************************/
/*********************************/
//   BOUTTONS
/*********************************/
/*********************************/
.button-pushable {
	position: relative;
	border: none;
	background: transparent;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
	transition: filter 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: hsl(0deg 0% 0% / 0.25);
	will-change: transform;
	transform: translateY(2px);
	transition:
		transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-edge {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 12px;
}

.button-front {
	display: block;
	position: relative;
	padding: 12px 27px;
	border-radius: 12px;
	font-size: 1.1rem;
	color: white;
	will-change: transform;
	transform: translateY(-4px);
	transition:
		transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-pushable:hover {
	filter: brightness(110%);
	-webkit-filter: brightness(110%);
}

.button-pushable:hover .button-front {
	transform: translateY(-6px);
	transition:
		transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-pushable:active .button-front {
	transform: translateY(-2px);
	transition: transform 34ms;
}

.button-pushable:hover .button-shadow {
	transform: translateY(4px);
	transition:
		transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-pushable:active .button-shadow {
	transform: translateY(1px);
	transition: transform 34ms;
}

.button-pushable:focus:not(:focus-visible) {
	outline: none;
}

/*********************************/
/*********************************/
//   ANIMATIONS
/*********************************/
/*********************************/
.fadeIn {
	animation-name: fadeIn;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.slideInRight {
	animation: slideInRight 0.5s ease-out forwards;
	-webkit-animation: slideInRight 0.5s ease-out forwards;
	opacity: 0;
	transform: translateX(100%);
	-webkit-transform: translateX(100%);

	@keyframes slideInRight {
		0% {
			opacity: 0;
			transform: translateX(100%);
			-webkit-transform: translateX(100%);
		}

		100% {
			opacity: 1;
			transform: translateX(0);
			-webkit-transform: translateX(0);
		}
	}
}

.slideInUp {
	animation: slideInUp 0.5s ease-out forwards;
	-webkit-animation: slideInUp 0.5s ease-out forwards;
	opacity: 0;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);

	@keyframes slideInUp {
		0% {
			opacity: 0;
			transform: translateY(100%);
			-webkit-transform: translateY(100%);
		}

		100% {
			opacity: 1;
			transform: translateY(0);
			-webkit-transform: translateY(0);
		}
	}
}

.popup {
	animation: popping 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	-webkit-animation: popping 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes popping {
	0% {
		transform: scale(0);
		-webkit-transform: scale(0);
		opacity: 0;
	}

	70% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		opacity: 1;
	}

	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}
}


@media only screen and (max-width: 768px) {
	.flex {
		flex-direction: column;
	}
}