@import  'variables';

body {
	overflow-x: hidden;
}

.flex {
    display: flex;
}
 
.primary-fill {
    background-color: $primary-color;
	color: $primary-color;
}
.secondary-fill {
    background-color: $secondary-color;
	color: $secondary-color;
} 

.button {
	
	--offset: 10px;
	--border-size: 2px;
	
	display: block;
	position: relative;
	padding: 1em 1em;
    margin: 2vh;
	appearance: none;
	border: 0;
	background: transparent;
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: background .8s ease;
	
	&:hover {
		background: rgba(100, 0, 0, .03);
	}
	
	&__horizontal,
	&__vertical {
		position: absolute;
		top: var(--horizontal-offset, 0);
		right: var(--vertical-offset, 0);
		bottom: var(--horizontal-offset, 0);
		left: var(--vertical-offset, 0);
		transition: transform .8s ease;
		will-change: transform;
		
		&::before {
			content: '';
			position: absolute;
			border: inherit;
		}
	}
	
	&__horizontal {
		--vertical-offset: calc(var(--offset) * -1);
		border-top: var(--border-size) solid currentcolor;
		border-bottom: var(--border-size) solid currentcolor;
		
		&::before {
			top: calc(var(--vertical-offset) - var(--border-size));
			bottom: calc(var(--vertical-offset) - var(--border-size));
			left: calc(var(--vertical-offset) * -1);
			right: calc(var(--vertical-offset) * -1);
		}
	}
	
	&:hover &__horizontal {
		transform: scaleX(0);
	}
	
	&__vertical {
		--horizontal-offset: calc(var(--offset) * -1);
		border-left: var(--border-size) solid currentcolor;
		border-right: var(--border-size) solid currentcolor;
		
		&::before {
			top: calc(var(--horizontal-offset) * -1);
			bottom: calc(var(--horizontal-offset) * -1);
			left: calc(var(--horizontal-offset) - var(--border-size));
			right: calc(var(--horizontal-offset) - var(--border-size));
		}
	}
	
	&:hover &__vertical {
		transform: scaleY(0);
	}
	
}

::-webkit-scrollbar {
	background-color: #F5F5F5;
	width: 8px;
	border-radius: 24px; 
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: rgba($primary-color, 0.8); 
	border-bottom: none;
  }

  ::-webkit-scrollbar-track {
	border-radius: 24px;
  }
  
  ::-webkit-scrollbar-thumb {
	border-radius: 24px;
  }

//   ANIMATIONS
.fadeIn {
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
  }
  
  @keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

  .popup {
	animation: popping 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
  
  @keyframes popping {
	0% {
	  transform: scale(0);
	  opacity: 0;
	}
	70% {
	  transform: scale(1.1);
	  opacity: 1;
	}
	100% {
	  transform: scale(1);
	  opacity: 1;
	}
  }
  
@media only screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
  }