$primary-color: #0670da;
$secondary-color: #6c757d;

//break fucking point site mobile
$breakpoint-md: 1000px;

$primary-font:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$secondary-font: "Roboto";

$dark: #FFFFFF;
$borderW: 2px;
 
$colors: 
"1" #3e83c7 (invert(24%) sepia(85%) saturate(5534%) hue-rotate(240deg) brightness(93%) contrast(102%)),
"2" #c53930 (invert(21%) sepia(98%) saturate(1769%) hue-rotate(348deg) brightness(105%) contrast(77%)),
"3" #3fa52b (invert(57%) sepia(16%) saturate(2077%) hue-rotate(64deg) brightness(90%) contrast(85%)),
"4" #e974fd (invert(73%) sepia(47%) saturate(5542%) hue-rotate(236deg) brightness(98%) contrast(103%)),
"5" #67b8fa (invert(58%) sepia(72%) saturate(606%) hue-rotate(183deg) brightness(107%) contrast(96%)),
"6" #73fa77  (invert(78%) sepia(90%) saturate(329%) hue-rotate(57deg) brightness(99%) contrast(98%)),
"7" #fabc5f (invert(18%) sepia(98%) saturate(2525%) hue-rotate(280deg) brightness(93%) contrast(92%)),
"8" #744c86  (invert(18%) sepia(98%) saturate(2525%) hue-rotate(280deg) brightness(93%) contrast(92%)),
"9" #43613f  (invert(18%) sepia(98%) saturate(2525%) hue-rotate(280deg) brightness(93%) contrast(92%)),
"10" #3fa52b (invert(57%) sepia(16%) saturate(2077%) hue-rotate(64deg) brightness(90%) contrast(85%)),
"11" #73fa77  (invert(78%) sepia(90%) saturate(329%) hue-rotate(57deg) brightness(99%) contrast(98%)),
"12" #e974fd (invert(73%) sepia(47%) saturate(5542%) hue-rotate(236deg) brightness(98%) contrast(103%)),
;
