.Puppet {
    position: relative;
    width: 100%;
    margin: auto;
    height: 100%;

    img {
        top: initial;
        bottom: 0;
    }
}

@media only screen and (max-width: 880px) {
    .Puppet {
        max-width: 50vh;
    }
    
}