.Puppet {
    position: relative;
    width: 100%;
    margin: auto;
    height: 100%;

    img {
        width: 100%;
        max-width: 800px;
        position: absolute;
        bottom: 50px;
        left: 0;

    }
}
