@import  '../../scss/variables.scss';

.Puppet {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
 
}

@media only screen and (max-width: $breakpoint-md) {
    .Puppet {
        max-width: 50vh;
    }
    
}